
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<form>
        @ViewBag.winnerFrog.Name is the winner!<br />
        <img src="~/Content/Images/@ViewBag.winnerFrog.ImageName" width="200">
        <br />
</form>
