@using FrogRacer.Models
<h2>Betting</h2>

@{
    ViewBag.Title = "Betting";   
}

@ViewBag.message <br />

<div class="row">
    <form action="/Betting/CalculateFrogRace" method="post">

        @{
            int frogLoopCount = 0;

            List<string> frogNameList = new List<string>();
            frogNameList.Add("frog1");
            frogNameList.Add("frog2");
            frogNameList.Add("frog3");
            frogNameList.Add("frog4");
            frogNameList.Add("frog5");
        }

        @foreach (var frog in ViewBag.frogList)
        {
            @frog.Name<br />
            <img src="~/Content/Images/@frog.ImageName" width="200">
            <input type="text" name="@frogNameList[frogLoopCount]"><br>
            <br />
            frogLoopCount++;
        }
        <div class="col-md-8">
        <input type="submit" value="Race!" />
        </div>
</form>
</div>

