<h2>Betting</h2>

@{
    ViewBag.Title = "Betting";   
}


@ViewBag.message <br />



@foreach (var frog in ViewBag.frogList)
{
    @frog.Name<br />
    <img src="~/Content/Images/@frog.ImageName" width="200">
    <input type="text" name="frog1"><br>
    <br />
    
}

