Betting

@ViewBag.message <br />

<div class="row">
    <form action="/Betting/CalculateFrogRace" method="post">

        @{
            int frogLoopCount = 0;

            List<string> frogNameList = new List<string>();
            frogNameList.Add("frog1");
            frogNameList.Add("frog2");
            frogNameList.Add("frog3");
            frogNameList.Add("frog4");
            frogNameList.Add("frog5");
        }

        @foreach (var frog in ViewBag.frogList)
        {
            <div class="row">
                <div class="col-md-2">
                    <br /><br />
                    @frog.Name
                </div>

                <div class="col-md-3">
                    <img src="~/Content/Images/@frog.ImageName" width="200">
                </div>

                <div class="col-md-2">
                    <br/><br />
                    <input type="text" name="@frogNameList[frogLoopCount]">
                </div>
            </div>
            frogLoopCount++;
        }

        <div class="row">
            <div class="col-md-7">
                <input type="submit" value="Betta" class="pull-right"/>
            </div>
        </div>
    </form>
</div>
