<div class="jumbotron" align="center" >
    <img src="~/Content/Images/badfrog_racing_grå.png" />
    <h2>Welcome to Bad Frog Racing</h2>
    <h3><p class="lead">Sign up, start betting and enjoy the exciting world of frog racing!</p></h3>   
    @ViewBag.ErrorMessage
    <div class="row">
        <form action="/Home/SignUp" method="post">
            @Html.TextBox("userName")
            <input type="submit" value="Singup" />
        </form>  
    </div>
</div>

